{% extends 'core/base.html' %}
{% load static %}

{% if user.is_authenticated %}
{% block contentauth %}
    {% if messages%}
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{ message }}        
            </div>
        {% endfor %}
    {% endif %}
    <table style="width: 100%">
        <tr>
            <th>
                <h4>Vizualizar o historico dos alunos por curso </h4>
                <form method="POST" id="courseForm" target="_blank" data-categories-url="{% url 'ajax_load_categories' %}" data-courses-url="{% url 'ajax_load_courses' %}" novalidate>
                    {% csrf_token %}
                    <label for="id_parent">Escolha o tipo de curso</label>
                    <select name="parent" required id="id_parent" class="form-control selecao">
                        <option></option>
                        {% for parent in parents %}
                            <option value="{{ parent.0 }}">
                            {{ parent.1 }}
                            </option>
                        {% endfor%}
                    </select>
                    <label for="id_category">Escolha o curso</label>
                    <select name="category" required id="id_category" class="form-control selecao">
                        <option></option>
                    </select>
                    <br>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </th>
        </tr>
    </table>    
    <script>
        $(".alert").delay(4000).slideUp(200, function() {
            $(this).alert('close');
        });
        document.getElementById("id_parent").selectedIndex = 0;
        $("#id_parent").change(function () {
        var url = $("#courseForm").attr("data-categories-url");  
        var parentId = $(this).val();  

        $.ajax({                      
            url: url,                   
            data: {
            'parent': parentId       
            },
            success: function (data) {   
            $("#id_category").html(data);  
            }
        });
        });
        $("#id_category").change(function () {
        var url = $("#courseForm").attr("data-courses-url");  
        var category = $(this).val();  

        $.ajax({                      
            url: url,                   
            data: {
            'category': category       
            },
            success: function (data) {   
            $("#id_course").html(data);  
            }
        });
        });
    </script>
{% endblock %}
{% else %}
{% block contentun %}
    <h3>Você não está logado, <a href="{% url 'logout' %}">clique aqui</a> para logar</h3>
{% endblock %}
{% endif %}