{% extends 'core/base.html' %}
{% load static %}

{% if user.is_authenticated %}
{% block contentauth %}
    <script src="{% static 'core/js/chart.js/dist/Chart.js' %}"></script>
    <script src="{% static 'core/js/file-saver/dist/FileSaver.js' %}"></script>
    <script src="{% static 'core/js/file-saver/dist/canvas-toBlob.js' %}"></script>
    <button type="button" id="download-png" class="btn btn-primary">
            <i class="fa fa-download"></i> Baixar Gráfico
    </button>
    <br><br>
    <canvas id="neadChart" width="400" height="200"></canvas>
    <script>
    Chart.plugins.register({
    beforeDraw: function(c) {
        var ctx = c.chart.ctx;
        ctx.fillStyle = 'white';
        ctx.fillRect(0, 0, c.chart.width, c.chart.height);
    }
    })
    var ctx = document.getElementById('neadChart').getContext('2d');
    var motivos = JSON.parse('{{ motivos|safe }}');
    motivos = Object.values(motivos);
    var label = JSON.parse('{{ label|safe }}');
    label = Object.values(label);
    chart_data = {
    type: 'pie',
    data: {
        labels: label,
        datasets: [{
            label: 'Motivos',
            data: motivos,
            backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(0, 168, 107, 1)',
                    'rgba(161, 52, 235, 1)',
                    'rgba(235, 177, 52, 1)',
                    'rgba(101, 124, 125 1)',
                ],
            borderWidth: 1
        }]
    },
    options: {
        title: {
            display:true,
            text: "Quantidade de cada motivo de desistência indicado pelos alunos",
        }
    }
}
var myChart = new Chart(ctx, chart_data);

document.getElementById('download-png').addEventListener("click", downloadPNG);

function downloadPNG() {
    a = document.querySelector('#neadChart')
    a.toBlob(function(blob) {
      saveAs(blob,"motivo_desistencia"+Date()+".png")
  })
 }
</script>
{% endblock %}
{% else %}
{% block contentun %}
    <h3>Você não está logado, <a href="{% url 'logout' %}">clique aqui</a> para logar</h3>
{% endblock %}
{% endif %}