{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'core/base.css' %}">
    </head>
    <body>
        <div class="home" style="margin: 10%;"> 
            {% if messages%}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{ message }}        
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
