{% extends 'core/base.html' %}
{% load static %}

{% if user.is_authenticated %}
{% block contentauth %}
<h4>Deletar Usuário</h4>
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="passo" value="1">
    <table class="table">
        <tr>
            <th> Usuário </th>
            <th> Deletar </th>
        </tr>
    {% for usr in data %}
        {% if usr != user %}
            <tr>
                <td>{{ usr }}</td>
                <td><button type="submit"  class="btn btn-primary" name="editar" value="{{ usr }}" onclick="return confirm('Quer mesmo deletar o usuário {{ usr }}?')">Deletar</button></td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
  </form>
{% endblock %}
{% else %}
{% block contentun %}
    <h3>Você não está logado, <a href="{% url 'logout' %}">clique aqui</a> para logar</h3>
{% endblock %}
{% endif %}

