{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'users/login.css' %}">
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
    <link rel="shortcut icon" href="{% static 'users/logo_nead.png' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Acompanhamento NEaD/UNICENTRO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
        <div class="w3-bar w3-top cor-cima w3-large" style="z-index:4">
            <span class="w3-bar-item w3-right texto-branco"> Acompanhamento <img src="{% static 'users/logo_nead.png' %}" style="width:40px;padding-left:10px;"></img></span>
        </div>
        <div class="login">
            <h4>Recuperar Senha</h4>
            <br>
            <form method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="id_email" >Endereço de Email:</label>
                        <input type="email" class="form-control" name="email" maxlength="254" required id="id_email" />
                    </div>
                    <input type="submit" class="btn btn-primary" value="Recuperar Senha" />
            </form>
        </div>
    </body>
</html>